body {
    background-color: darkgray;
}

.meme-generator {
    font-family:"Roboto", 'sans-serif';
    text-align: center;
}

.meme-generator img {
    height: 430px;
    object-fit: cover;
    border: black solid 5px;
}

.meme-generator .meme-generator-btn {
    
    padding: 8px 20px;
    border: none;
    border-left: 4px solid #222;
    border-right: 4px solid #222;
     margin: 24px 0;
     font-size: 20px;
     color: #f64d4d;
     background: #fff;
     cursor: pointer;
     transition:all 400ms  ease;

}

.meme-generator .meme-generator-btn:hover {
    padding: 8px 36px ;
    border-left: 8px solid #222;
    border-right: 8px solid #222;
    letter-spacing: 3px;


}

.meme-generator .meme-author {
    margin: 8px;
}

h3 {
    text-align: center;
    border: #f64d4d solid 3px;
}


/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}